<div>
    <div class="my_cart">
        <div class="cart-product-image">
            <img src="https://cdn.shopify.com/s/files/1/1520/5960/products/T21F202031_PO_Maroon_Front_240x.jpg?v=1632849878" alt=""> 
        </div>
        <div class="cart-product-description container">
            <i class="fas fa-times cart-dlt-item"></i>
            <p class="cart-item-price">Ksh. 2000</p>
            <p class="cart-product-title">ASOS DESIGN wool mix varsity jacket in brown with badging detail</p>
            <div class="cart-product-details">
                <p>MAROON</p>
                <P>XL</P>
                <P>Qty: 1</P>
            </div>
        </div>
    </div>
</div>