<div>
    <div class="my_cart">
        <div class="cart-product-image">
            <img src="https://cdn.shopify.com/s/files/1/1520/5960/products/T21F202031_PO_Maroon_Front_240x.jpg?v=1632849878" alt=""> 
        </div>
        <div class="cart-product-description container">
            <i class="fas fa-times cart-dlt-item"></i>
            <p class="cart-item-price">Ksh. 2000</p>
            <p class="cart-product-title">ASOS DESIGN wool mix varsity jacket in brown with badging detail</p>
            <div class="cart-product-details">
                <div>
                    <p>MAROON</p>
                    <select name="color" id="color" class="only-cart-display">
                        <option value="brown">Brown</option>
                        <option value="maroon">Maroon</option>
                        <option value="red">Red</option>
                    </select>
                </div>
                <div>
                    <P>XL</P>
                    <select name="size" id="size" class="only-cart-display">
                        <option value="S">S</option>
                        <option value="M">Medium</option>
                        <option value="L">Large</option>
                        <option value="XL">X- Large</option>
                        <option value="XXL">XX Large</option>
                    </select>
                </div>
                <div>
                    <P>Qty: 1</P>
                    <div class="cart-qty only-cart-display"">
                        <i class="fas fa-angle-up"></i>
                        <i class="fas fa-angle-down"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
