<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div class="container">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link active"%>
        </li>
      
      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#">TeeHaven</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 position-relative">
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      4
    </span>
      <%= image_tag "carts.png", class: "cart ms-auto"%>
    </div>
  </div>
</nav>