/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

body{
    background-color: #EEEEEE;
}

.my_cart {
    display: flex;
    padding-top: .5em;
    p {
        margin: 0;
    }
}

.cart-item-price {
    font-weight: bold;
    font-size: 1em;
    padding-bottom: 1em;
}
.cart-product-title {
    word-spacing: .4em;
    font-size: 0.75em;

}

.cart-dlt-item {
    float: right;
    cursor: pointer;
    &:hover {
        color: red;
    }
}

.cart-product-image {
    flex: 0 0 auto;
    max-width: 100px;
    img {
        max-width: 100px;
    }
}
.cart-product-details {
    display: flex;
    justify-content: space-between;
    margin-top: .5em;
    font-size: 0.75em;

}

.cart-product-details > * {
    box-sizing: border-box;
}
