// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.cart{
    width: 6%;
}
.product-color-box{
    margin-bottom: 1.25em;
}
.product-color-box > * + * {
    margin-left: 1.7em;
}

.product-color{
    width: 23px;
    height: 23px;
    cursor: pointer;
    border-radius: 50%;
}

.product-size{
    color: grey;
    font-weight: bold;
    font-size: large;
}
.product-size > * {
    margin-right: 1.2em;
    padding: 0.3em 0.2em;
    cursor: pointer;
    &:hover{
        background-color: lightgray;
    }
}

.quantity-selector{
    border: black solid 2px;
    width: 80%;
    margin-bottom: 1.25em;
    & > *{
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        text-align: center;
        font-weight: bold;
    }
}

.quantity-selector > * + * {
    border-left: black solid 2px;
}

.qty-change{
    cursor: pointer;
}

.btn_add_to_cart{
    width: 80%;
    border: none;
    font-weight: 500;
    font-size: 1.3em;
    padding-top: 0.25em;
    padding-bottom: .25em;
}

.product-section {
    background-color: #fff;
    height: 445px;
    overflow-y: hidden;
}

.thumbnail-container {
    position: relative;
    height: 100%;

   
}
.slider {
    transition: all 0.5s;
}
.controls {
    position: absolute;
    z-index: 1;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    right: 45%;   
    cursor: pointer;
    &:hover {
        background-color: #000;
        color: #fff;
    }
}
.prev {
    top: 420px;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 70%;
    margin: 6px auto;
    cursor: pointer;
}

.product-carousel {
    overflow-x: hidden;
    height: 100%;
    
}
.product-slider {
    display: flex;
    align-items: center;
    transition: all 0.5s;
    color: black;
    height: 100%;
    
}
.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 100%;
    height: 30%;
    
}


