<div class="container show-page">
    <div class="cart-popup">
        <div class="cart-title">
            <p>My bag, 1 item</p>
            <i class="fas fa-times close-cart"></i>
        </div>
        <div class="cart-item">
            <%= render 'shared/cart_items' %>
        </div>
        <div class="sub-total">
            <p>Sub-total</p>
            <p>Ksh. 1000</p>
        </div>
        <div class="cart-cta">
            <button><%= link_to "VIEW CART", cart_index_path, class: "text-dark text-decoration-none" %></button>
            <button>CHECKOUT</button>
        </div>
    </div>
    <div class="row mt-5 g-0 product-section">
        <div class="col-sm-2 d-none d-sm-block ps-1">
            <div class="thumbnail-container">
                <div class="controls next"><i class="fas fa-angle-up"></i></div>
                <div class="controls prev"><i class="fas fa-angle-down"></i></div>
                <div class="slider">
                    <div class="thumbnail">
                        <img src="https://cdn.shopify.com/s/files/1/1520/5960/products/T21F202031_PO_Maroon_Front_240x.jpg?v=1632849878" alt="">
                    </div>
                    <div class="thumbnail bg-primary">
                        two
                    </div>
                    <div class="thumbnail bg-danger">
                        three
                    </div>
                    <div class="thumbnail bg-success">
                        four
                    </div>
                    <div class="thumbnail bg-light">
                        five
                    </div>
                    <div class="thumbnail bg-secondary">
                        six
                    </div>
                    <div class="thumbnail bg-info">
                        seven
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-5 text-white product-carousel">
            <div class="product-slider">
                <div class="product-image bg-warning">
                    <img src="https://cdn.shopify.com/s/files/1/1520/5960/products/T21F202031_PO_Maroon_Front_1194x.jpg?v=1632849878" alt="">  
                </div>
                <div class="product-image bg-primary">
                   two
                </div>
                <div class="product-image bg-danger">
                    three
                </div>
                <div class="product-image bg-success">
                    four
                </div>
                <div class="product-image bg-light">
                   five
                </div>
                <div class="product-image bg-secondary">
                    six
                </div>
                <div class="product-image bg-info">
                    seven
                </div>
            </div>
        </div>
        <div class="col-sm-3 ps-3">
            <h3>Joker Bat T-shirt</h3>
            <p>KES 1200</p>
            <P>COLOR: <span class="text-muted">Black</span></P>
            <div class="d-flex product-color-box">
               <div class="product-color bg-primary"></div>
               <div class="product-color bg-warning"></div>
               <div class="product-color bg-dark"></div>
            </div>
            <div class="product-size-box">
                <p>SIZE: <span class="text-muted" id="size">Small</span></p>
                <div class="product-size d-flex">
                    <P>S</P>
                    <P>M</P>
                    <P>L</P>
                    <P>XL</P>
                    <P>XXL</P>
                </div>
            </div>
            <p class="fit-guide"><i class= "far fa-eye"></i> View fit guide</p>
            <div class="d-flex quantity-selector">
                <div class="flex-fill qty-change qty-minus"><i class="fas fa-minus"></i></div>
                <div class="flex-fill quantity">1</div>
                <div class="flex-fill qty-change qty-add"><i class="fas fa-plus"></i></div>
            </div>
            <button class="btn_add_to_cart bg-dark text-white">ADD TO CART</button>
        </div>
    </div>
</div>
<div class="product-detail mt-5">
        <div class="container ">
            <h4>Product Detail</h4>
            <ul>
                <li>Embroidered graphic on front crest</li>
                <li>Printed graphic on back</li>
                <li>Heavyweight soft fleece construction</li>
                <li>Adjustable drawstring hood</li>
                <li>50% cotton, 50% polyester</li>
            </ul>
        </div>
    </div>


